.servicios {
    float: left;
    width: 25%;
    background-color: white;
}

.alojamiento {
    float: left;
    width: 25%;
    background-color: white;
}

.blogs {
    float: left;
    width: 25%;
    background-color: white;
}

.servicios,
.alojamiento,
.blogs {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

#servicios_ofrecidos {
    display: flex;
    justify-content: center;
    color: black;
}

#servicios_ofrecidos_XL {
    background-color: #000042;
    padding-top: 1px;
}

#servicios_ofrecidos_XL h2 {
    font-size: xx-large;
    color: white;

}

#servicios_ofrecidos_XL h3 {
    color: white;
}

#alojamiento_web,
#multilenguaje,
#marqueting,
#seo {
    background-color: #071b50;
    color: white;
    padding: 5px;
    padding-bottom: 35px;
    width: 18%;
    margin: 2%;
    margin-bottom: 60px;
}

#alojamiento_web h3,
#multilenguaje h3,
#marqueting h3,
#seo h3 {
    color: white;
    font-size: 25px;
}

#alojamiento_web p,
#multilenguaje p,
#marqueting p,
#seo p {
    color: white;
    font-size: 15px;
    padding: 15px;
    padding-top: 1px;
    line-height: 1.7;
}

#alojamiento_web .leermas {
    padding: 5px;
    font-size: 18px;
    margin: 20px;
    color: #ffa737;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica', sans-serif;
}

#multilenguaje .leermas {
    padding: 5px;
    font-size: 18px;
    margin: 20px;
    color: #ffa737;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica', sans-serif;
}

#marqueting .leermas {
    padding: 5px;
    font-size: 18px;
    margin: 20px;
    color: #ffa737;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica', sans-serif;
}

#seo .leermas {
    padding: 5px;
    font-size: 18px;
    margin: 20px;
    color: #ffa737;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Helvetica', sans-serif;
}